* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0e1014;

  max-width: 1440px;
  margin: 0 auto;

  font-family: "Poppins", sans-serif;

  color: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 75px 80px 60px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 64px;
  font-weight: bold;
  text-align: center;

  margin-bottom: 24px;
}

h1 > span {
  color: #9747ff;
}

p {
  font-size: 24px;
  text-align: center;

  width: 792px;
  margin: 0 auto;
}

a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  line-height: 18px;

  margin: 40px 0;
  padding: 24px 48px;

  border-radius: 50px;

  background-color: #9747ff;
}

a:hover {
  background-color: #8233e8;
}

section > img {
  display: block;

  margin: 0 auto;
}

@media (max-width: 768px) {
  header {
    padding: 65px 60px 72px;
  }

  h1 {
    max-width: 648px;
  }

  p {
    width: 648px;
  }
}
@media (max-width: 375px) {
  header {
    padding: 32px 8px 16px;
  }

  h1 {
    font-size: 40px;
    width: 310px;
  }

  p {
    font-size: 20px;
    width: 310px;
  }

  a {
    font-size: 20px;
  }

  section img {
    width: 340px;
  }
}
