* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0e1014;

  max-width: 1440px;
  margin: 0 auto;

  font-family: "Poppins", sans-serif;

  color: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 64px;
  font-weight: bold;
  text-align: center;

  margin-bottom: 16px;
}

h1 > span {
  color: #9747ff;
}
